a {
	color:#478061;
}
a:hover {
	text-decoration:none;
	color:black;
}
.navbar {
	background-color:#478061;
	border:0;
	z-index: 1;
}
.nav li:hover {
	background-color: black;
}
h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
	padding-top:0.5em;
}
.btn-green {
	color: #fff;
	background-color: #478061;
	border-color: #478061;
}
.btn-green:hover {
	color: #fff;
	background-color: black;
	border-color: black;
}

.mirrortbl {
	border-collapse: collapse;
	overflow-y: auto;
	border: 1px #478061 solid;
}

.mirrortbl td {
	padding: 6px 20px;
}

.mirrortbl thead {
	background: #478061;
	color: #fff;
}

.mirrortbl thead th {
	font-weight: 700;
	text-align: center;
	padding: 6px 20px;
}

.mirrortbl tr:nth-child(2n) {
	background: #eee;
}

.time-muted {
	color: #666;
	background-color: #ddd;
}

.time-red {
	color: #fff;
	background-color: rgb(227, 46, 66);
}

.time-yellow {
	background-color: rgb(234, 184, 57);
}

.time-green {
	background-color: rgb(115, 191, 105);
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
    background-color: #222;
  }
  h1, h2, h3, h4, h5, h6 { color: #ccc; }
  a {
    color: #62b086;
  }
  a:hover {
    color: #ccc;
  }
  hr {
    border-top: 1px solid #888;
  }
  code {
    background-color: inherit;
    color: white;
  }
  pre {
    background-color: #404040;
    color: #d0d0d0;
  }
  .nav li:hover {
    background-color: #222;
  }
  .navbar {
    background-color: #295340;
  }
  .mirrortbl tbody tr:nth-child(2n) {
  	background: #2c2c2c;
  }

  .time-muted {
  	color: #aaa;
  	background-color: #444;
  }

  .time-red {
	color: #000;
	background-color: #d73c50;
  }

  .time-yellow {
	color: #222;
  	background-color: rgb(234, 184, 57);
  }

  .time-green {
	color: #222;
  	background-color: rgb(115, 191, 105);
  }
}
